* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font: 400 12px/1.8 'Poppins', sans-serif;
}

.bg-image {
    /* The image used */
    background-image: url("../images/slide-1.jpg");
    /* Add the blur effect */
    filter: blur(5px);
    -webkit-filter: blur(5px);
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-text {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    opacity: 0;
}

.module-header {
    margin: 20px 0 20px;
    text-align: center;
}

.module-title {
    position: relative;
    margin-bottom: 20px;
    font-weight: 300;
    color: #5b5963;
}

h2.module-title {
    text-transform: uppercase;
    letter-spacing: 5px;
}

.module-title span {
    font-size: 50px;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: -44px;
    z-index: 0;
    opacity: 0.15;
    font-weight: 700;
}

.module-description p {
    font-size: 16px;
}

.carousel-caption {
    background: #000;
}

.carousel-caption a:hover {
    text-decoration: none;
    color: #fff;
}

#pp-nav {
    display: none;
}

#pp-nav li,
.pp-slidesNav li {
    width: 18px;
    height: 18px;
}

#pp-nav span,
.pp-slidesNav span {
    width: 12px;
    height: 12px;
}

#femdev {
    opacity: 0;
    margin-left: -40%;
}

.femdevtxt {
    opacity: 0;
    margin-top: -40%;
}

#jobs .card {
    opacity: 0;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 40px;
    height: 40px;
}

.goto {
    font-size: 14px;
}


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {}


/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */

@media (min-width: 768px) {
    #pp-nav {
        display: block;
    }
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}