* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font: 400 12px/1.8 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.row {
    margin-bottom: 20px;
}

.jumbotron-fluid {
    position: relative;
    color: #fff;
    min-height: 198px;
}

.jumbotron-fluid .bg-img {
    position: absolute;
}

.jumbotron-fluid .txtbanner {
    position: absolute;
    width: 100%;
    text-align: center;
    padding-top: 10px;
}

.jumbotron-fluid .h3 {
    font-size: 1.2rem;
}

.jumbotron-fluid h1 {
    font-size: 1.5rem;
}

.jumbotron-fluid .txtbottom {
    position: absolute;
    bottom: 10%;
    width: 100%;
    text-align: center;
    display: block;
}

.jumbotron-fluid .txtlarge {
    display: none;
}

.fa-arrow-down {
    color: white;
}

.scrollto {
    position: absolute;
    bottom: 50px;
    width: 60px;
    display: none;
    text-align: center;
    left: 0;
    right: 0;
}

.module-header {
    margin: 40px 0 40px;
    text-align: center;
}

.module-title {
    position: relative;
    margin-bottom: 40px;
    font-weight: 300;
    color: #5b5963;
}

h2.module-title {
    text-transform: uppercase;
    letter-spacing: 5px;
}

.module-title span {
    font-size: 50px;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: -44px;
    z-index: 0;
    opacity: 0.15;
    font-weight: 700;
}

.module-description p {
    text-align: center;
}

.capstone .card-text {
    font-size: 14px;
}

#footer {
    text-align: center;
    padding: 30px 0 10px;
    color: #FFF;
    background: #333;
}

.goto {
    font-size: 14px;
}


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {}


/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */

@media (min-width: 768px) {
    .jumbotron-fluid {
        min-height: 405px;
    }
    .jumbotron-fluid .txtbanner {
        padding-top: 30px;
    }
    .jumbotron-fluid .h3 {
        font-size: 1.75rem;
    }
    .jumbotron-fluid h1 {
        font-size: 2.5rem;
    }
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .jumbotron-fluid {
        min-height: 540px;
    }
    .jumbotron-fluid .txtbottom {
        display: none;
    }
    .jumbotron-fluid .txtlarge {
        display: block;
    }
    .module-description p {
        font-size: 14px;
        margin-bottom: .5rem;
    }
}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .jumbotron-fluid {
        min-height: 960px;
    }
    .jumbotron-fluid .txtbanner {
        padding-top: 50px;
    }
    .jumbotron-fluid .h3 {
        font-size: 2.05rem;
    }
    .jumbotron-fluid h1 {
        font-size: 3.5rem;
    }
    .module-header {
        margin: 80px 0 40px;
    }
    .module-description p {
        font-size: 14px;
        margin-bottom: .5rem;
    }
    .scrollto {
        display: block;
    }
}